<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Book Finder Results</title>
  <link rel="stylesheet" href="/styles/reset.css">
  <link rel="stylesheet" href="/styles/base.css">
  <link rel="stylesheet" href="/styles/layout.css">
  <link rel="stylesheet" href="/styles/modules.css">
  <link rel="stylesheet" href="/styles/show.css">

</head>
<body>
  <%- include("../../layout/navbar.ejs") %>
  <h2 class="mainhead">Here's what we found:</h2>
  <ul class="booklist">
    <% newBooks.forEach(book => { %>
      <li>
        <img src=<%= book.img %> alt=<%= book.descrip %>>
        <h1> <%= book.title %></h1>
        <h3> <%= book.author %></h3>
        <form action="../books" method="post">
          <input type="hidden" value ="<%=JSON.stringify(book)%>" name='chosenBook'>
          <input type="submit" value="Save Book">
        </form>
      </li>
    <% }) %>
  </ul></body>
</html>