<li>
  <img src=<%= book.img %> alt=<%= book.desc %>>
  <h1><%= book.title %></h1>
  <h3>Main Author: <%= book.author %></h3>
  <% if(displayInfo) {%>
    <p id='detailsdescription'>Description: <br> <%= book.descrip %></p>
    <p>ISBN Number: <%= book.isbn %></p>
    <p>Bookshelf: <%= book.shelf %></p>
    <% if(displayLink) {%>
      <a href="/books/<%=book.id%>">Details</a>
    <% }else if(displayButtons) {%>
      <section class='bookShowButtons'>
        <button id="updateBook"><a>Update Book</a></button>
        <button id="deleteBook" type="submit" form="delete-form">Delete Book</button>
      </section>
    <% } %>
  <% } else{ %>
    <form action="../books" method="POST">
      <input type="hidden" value ="<%=JSON.stringify(book)%>" name='chosenBook'>
      <input type="submit" value="Save Book">
    </form>
  <% } %>
</li>
